/* Customize scrollbar */

::-webkit-scrollbar {
  width: 10px; /* Set width of scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set color of track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Set color of handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set color of handle on hover */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
